.room {
	border: 1px solid #c0c0c0;
	background: #f2f2f2;
}
.room input {
    border: 1px solid #c0c0c0;
    border-radius: 0;
}
.room input:focus {
    border: 1px solid rgba(100, 65, 165, 0.75);
    -webkit-box-shadow: 0 0 3px 1px rgba(185, 155, 235, 0.75);
}
.messages {
	height: 500px;
    overflow-y: scroll;
}
.message {

}
.message.system {
    color: gray;
    font-style: italic;
}
.message .author {
    font-weight: bold;
}
.message .highlight-pseudo {
    color: white;
    background: black;
    padding: 0 2px;
}
.post {
    position: relative;
	height: 20%;
}
.choose-pseudo {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
	height: 100%;
    width: 100%;
	background: rgba(0,0,0,.7);
    transform-style: preserve-3d;
}
.choose-pseudo form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.options-popover {
    position: absolute;
    bottom: 20px;
    background: #FFF;
    border: 1px solid #c0c0c0;
}